# Print Statement

In [129]:
print("Hello Neurons")

Hello Neurons

In [130]:
print('greetings from iNeuron')
print("Goood Evening")

greetings from iNeuron
Goood Evening

In [131]:
## Mistakes we can make
Print("Good Evening")

NameError: name 'Print' is not defined

In [132]:
print(good evening)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3904026530.py, line 1)

In [133]:
print "good evening"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (251419130.py, line 1)

In [ ]:
print("Good 
Evening")

In [134]:
# multi line comment or multi line string
print("""Good 
Evening""")

Good
Evening

In [135]:
"Good morning"

'Good morning'

In [136]:
"Good morning"
print("Goood Evening")

Goood Evening

# Comments

In [137]:
# say hello to the students:
print("Hi Students")

Hi Students

In [138]:
# say hello to the students:
# print("Hi Students")

# Multi Line Comments

In [139]:
"""
Say Hi
To the students
"""
print("Hii Students")

Hii Students

In [140]:
# exceptional cases in print Statements:

print("Hi my name is "Bhumik" ")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3789430678.py, line 3)

In [141]:
print('Hi my name is "Bhumika" ')

Hi my name is "Bhumika"

In [142]:
print("Hi my name is 'Bhumika' ")

Hi my name is 'Bhumika'

In [143]:
print("""Hi my name is 'Bhumika' """)  # best to deal with

Hi my name is 'Bhumika'

In [144]:
print("Hi my name is \"Bhumika\" ")  # \will avoid the character

Hi my name is "Bhumika"

In [145]:
123+ 421 # sum of 2 no.

544

In [146]:
235*986

231710

In [147]:
567/2  # gives quotient

283.5

In [148]:
567//2

283

In [149]:
# modulo operator
567 % 2  #gives remainder

1

In [150]:
456**2    # Power of 456 raised to 2

207936

In [151]:
(-456)**2

207936

In [153]:
235*986
print("235*986")

235*986

In [154]:
print(235*986)

231710

# Variables in Python

# Variables in Python
## Variables in Python
### Variables in Python
#### Variables in Python
##### Variables in Python
###### Variables in Python

In [155]:
x = 10

In [156]:
print(x)

10

In [157]:
y=20
print(y)

20

In [158]:
print(x+y)
print(x/y)

30
0.5

1. Variable names should with alphabets
2. Variables names should not contain any special characters like ^ % $ ! @ # & * ()
3. Variables name can contain no. but you can't start with numbers.
4. It's not a strict rule that you should start variables names with a capital letter. But it's recommended to use small      letters for the variables

In [159]:
ten = 10
ten_number = 10
tenNumber = 10

In [160]:
ten* = 10  # cannot have special character

SyntaxError: invalid syntax (1983975256.py, line 1)

In [161]:
ten%number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1559910169.py, line 1)

In [162]:
ten = 10
ten_number = 10
ten%Number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2167743853.py, line 3)

In [163]:
ten = 10
ten_number = 10
ten%Number = 10  #interpreted language, whichever line it get's error stops there and there
ten_number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3434713923.py, line 3)

In [164]:
ten10 = 10

In [165]:
10ten = 10  #can't start with no.

SyntaxError: invalid decimal literal (216338716.py, line 1)

In [166]:
__num = 10  #hidden varables, If you don't won't user to see it or use it

In [167]:
Ten = 10  # do not restrict, but 
starting with capital is not preferable

SyntaxError: invalid syntax (1754195070.py, line 2)

In [168]:
____r_=0

In [169]:
ten num = 10

SyntaxError: invalid syntax (1489706555.py, line 1)

In [170]:
ten_num = 10

In [171]:
_ = 10  #dummy variable

# Fundamental data types

### integers

In [172]:
a = 7

In [173]:
type(a)

int

In [174]:
b = 8989
type(b)

int

### floats:  no. containing decimal

In [175]:
x = 2.0

In [176]:
type(x)

float

In [177]:
pi=3.14
type(pi)

float

In [178]:
pi = 22/7
pi

3.142857142857143

In [179]:
type(pi)

float

### complex no.

In [180]:
a = 2+3j
a

(2+3j)

In [181]:
type(a)

complex

In [182]:
a.imag

3.0

In [183]:
a.real

2.0

# Dynamic Typing

In [184]:
a = 22
print(type(a))
a = 22.2
print(type(a))

<class 'int'>
<class 'float'>

In [185]:
print(a)  # updated a

22.2

In [186]:
a = "sunny"
print(type(a))
a

<class 'str'>

'sunny'

# Strong Typing

In [187]:
"Day" + 1

TypeError: can only concatenate str (not "int") to str

In [188]:
"Day" + "1"

'Day1'

In [189]:
"22" + "22"

'2222'

In [190]:
22 + 22

44

In [191]:
22 + "22"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [192]:
 "Bhumika" + "sawade"

'Bhumikasawade'

In [193]:
a = 29     # int data type
b = 23.0   # float data type
c = 29 + 23j # complex data type ,rarely in use
d = "bhumi"  # string data type

In [194]:
## why concatenation

In [195]:
print("hii ,welcome to class of python language")

hii ,welcome to class of python language

In [196]:
language = "python"
print("Hii ,Welcome to class of " + language + " language") #rarey used

Hii ,Welcome to class of python language

In [197]:
# f- formatted string method
language = "python"
print(f"Hii ,Welcome to class of {language} language") # current standard approach used

Hii ,Welcome to class of python language

In [198]:
language = "python"
print("Hii ,Welcome to class of {} language".format(language)) #old method

Hii ,Welcome to class of python language

In [199]:
num = "second"
language = "python"
print(f" Today is the {num} class of {language} language")

 Today is the second class of python language

In [200]:
num = "second"
language = "python"
print(" Today is the {} class of {} language".format(num,language))

 Today is the second class of python language

In [201]:
a = 67
b = 78
c = a + b
print(f"The result of sum of two no. {a} and {b} is {c}")

The result of sum of two no. 67 and 78 is 145

# Boolean  : True  False

In [202]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [203]:
class_starts_at = 1500
you_came_at = 1600

you_understood_all_concept = you_came_at < class_starts_at
print(f"You understood everythting?? : {you_understood_all_concept}")

You understood everythting?? : False

In [204]:
class_starts_at = 4
you_came_at = 3

you_understood_all_concept = you_came_at < class_starts_at
print(f"You understood everythting?? : {you_understood_all_concept}")

You understood everythting?? : True