    1. Print the first 5 positive integers in ascending order with one number in each line

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

    2. Print the following pattern
    *
    **
    ***
    ****
    *****
    There are no spaces between consecutive stars. There are no spaces 
    at the end of each line.

In [2]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

    3. Accept an integer as input and print its square as output.

In [3]:
a = int(input("Enter  no.: "))
print(f"Square of input: {a*a}")

Enter  no.: 23
Square of input: 529

    4.Accept two integers as input and print their sum as output.

In [4]:
a = int(input("Enter a no.: "))
b = int(input("Enter a no.: "))

print(f"Sum of two no is : {a + b}")

Enter a no.: 2
Enter a no.: 4
Sum of two no is : 6

    5. Accept two words as input and print the two words after adding a space between them

In [5]:
a = input("Enter first word: ")
b = input("Enter second word: ")

# a + " "+ b
print(f"{a} {b}" )

Enter first word: bhumika
Enter second word: sawaade
bhumika  sawaade

    6. Accept the registration number of a vehicle as input and print its state-code as output.

In [6]:
a = input()  # MH311234
(f"State code: {a[:2]}")

MH31234

'State code: MH'

    7.Accept a five-digit number as input and print the sum of its digits as output.

In [8]:
a = "12345"
l = 0
for i in a:
    sum_ = int(i) + l
    l = sum_
print(l)

15

    8.Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [9]:
l = " "
for i in range(0,5):
    a = l + input() 
    b = a + " " 
    l = b
print(l + ".")

bhumik
sawade
is
data
analyst
 bhumik sawade is  data analyst .

    9.Accept the date in DD-MM-YYYY format as input and print the year as output.

In [10]:
date = input("Enter date in the format DD-MM-YYYY: ")
date = date.split("-")
date[2]

Enter date in the format DD-MM-YYYY: 12-1-23

'23'

    10.Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.

In [11]:
num = input()
number = num.split(",")
number

2,3,4,5,6

['2', '3', '4', '5', '6']

In [12]:
l = 1
for i in number: 
    a = int(i) * l
    l = a
print(l)

720

    11. Accept two positive integers x and y as input. Print the number of digits in xy(x to the power of y

In [13]:
x = int(input())
y = int(input())
print(f"Product of x:{x} and y:{y} is {x**y}")
print(f"No. of digits : {len(str(x**y))}")

233
2
Product of x:233 and y:2 is 54289
No. of digits : 5

    12. Accept a string as input. If the input string is of odd length, then continue with it. If the input string is of even length, make the string of odd length as below:
    • If the last character is a period (.), then remove it 
    • If the last character is not a period, then add a period (.) to the 
      end of the stringCall this string of odd length word. Select a substring made up of three consecutive characters from word such that there are an equal number of characters to the left and right of this substring. Print this substring as output. You can assume that all input strings will be in lower case and will have a length of at least four

In [14]:
word = input()
n = len(word)

if n%2 == 0:
    if word[-1] == ".":
        word = word[:-1]
    else:
        word = word + "."
a = int((n-1)/2)
print(word[a-1:a+2])

welcome
lco

In [16]:
word = input()
n = len(word)

if n%2 == 0:
    if word[n-1] == ".":
        word = word[:-1]
    else:
        word = word + "."
n = int((len(word)-1)/2)
print(word[n-1:n+2])

hi
hi.

    13. Accept three positive integers as input and check if they form the sides of a right triangle. Print YES if they form one, and NO is they do not. The input will have three lines, with one integer on each line. The output should be a single line containing one of these two strings: YES or NO.

In [17]:
a = int(input())
b = int(input())
c = int(input())

if ((a**2 + b**2 == c**2) or
    (a**2 + c**2 == b**2) or
    (b**2 + c**2 == a**2)
   ):
    print("Yes")
else:
    print("No")

3
4
5
Yes

    14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique positive integer. On one warm Sunday evening, five employees of the company come together for a meeting and sit at a circular table:
    The employees follow a strange convention. They will continue the meeting only if the following 
    condition is satisfied.
    The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
    number.
    They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
    plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
    five employees. Your task is to decide if the meeting happened or not.
    The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
    The output will be a single line containing one of these two strings: YES or NO

In [18]:
# E1,E2,E3,E4,E5

emp1 = int(input("Enter employee id: "))
emp2 = int(input("Enter employee id: "))
emp3 = int(input("Enter employee id: "))
emp4 = int(input("Enter employee id: "))
emp5 = int(input("Enter employee id: "))
# l=[emp1,emp2,emp3,emp4,emp2]

if ((emp1+emp2)%2==0 or (emp2+emp3)%2==0 or (emp3+emp4)%2==0 or (emp4+emp5)%2==0 or(emp5+emp1)%2==0):
    print("Yes, meeting happened")
else:
    print("No, meeting not happened")

Enter employee id: 2
Enter employee id: 4
Enter employee id: 6
Enter employee id: 8
Enter employee id: 8
Yes, meeting happened

    15. Accept a string as input and print the vowels present in the string in alphabetical order. If the string doesn’t contain any vowels, then print the string none as output. Each vowel that appears in the input string – irrespective of its case should appear just once in lower case in the output

In [19]:
word = input("Enter a string: ").lower()

word = list(word)
word

Enter a string: bhumika

['b', 'h', 'u', 'm', 'i', 'k', 'a']

In [20]:
vols = ["a","e","i","o","u"]
l=list()
for i in vols:
    if i in word:
        l.append(i)
print(f"Vowels found are: {l}")

Vowels found are: ['a', 'i', 'u']

    16.You are given the date of birth of two persons, not necessarily from the same family. Your task is to find the younger of the two. If both of them share the same date of birth, then the younger of the two is assumed to be that person whose name comes first in alphabetical order.
    The input will have four lines. The first two lines correspond to the first person, while the last two lines correspond to the second person. For each person, the first line corresponds to the name and the second line corresponds to the date of birth in “DD-MM-YYYY” format. Your output should be the name of the younger of the two.

In [21]:
n1 = "sawade"
n2 = "mik"
if n1<n2:
    print(n1)

In [22]:
person1 = input("Enter name: ")
dob1 = input("Enter DOB in format DD-MM-YYYY: ")
person2 = input("Enter name: ")
dob2 = input("Enter DOB in format DD-MM-YYYY: ")

if dob1 == dob2:
    if person1 < person2:
        print(person1)
    else:
        print(person2)
elif dob1[-4:] != dob2[-4:]:      #year
    if int(dob1[-4:]) < int(dob1[-4:]):
        print(person2)
    else:
        print(person1)
elif dob1[3:5] != dob2[3:5]:    #month
    if int(dob1[3:5]) < int(dob1[3:5]):
        print(person2)
    else:
        print(person1)
else:
    if int(dob1[0:2]) < int(dob1[0:2]):
        print(person2)
    else:
        print(person1)

Enter name: bhumika
Enter DOB in format DD-MM-YYYY: 17-01-2007
Enter name: bhumi
Enter DOB in format DD-MM-YYYY: 25-11-2005
bhumika

    17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a string to be a valid password, it must satisfy all the conditions given below:
    (1) It should have at least 8 and at most 32 characters
    (2) It should start with an uppercase or lowercase letter
    (3) It should not have any of these characters: / \ = ' "
    (4) It should not have spaces
    It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
    4). Output True if the string forms a valid password and False otherwise

In [23]:
password = input()

if 8 <= len(password)<=32 and password[0].isalpha() and '/' not in password and "=" not in password and "\'" not in password:
    print("True")
else:
    print("False")

bhucdnkd//
False

    18. Accept a positive integer n as input and print the first n positive integers, one number on each line.

In [24]:
num = int(input("Enter a no.: "))

for i in range(1,num+1):
    print(i)

Enter a no.: 5
1
2
3
4
5

    19.Accept a positive integer n as input, where n is greater than 1. Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [25]:
num = int(input("Enter a no.: "))

if num == 1:
    print(f"{num}, Not a prime")
else:
    if num%2 == 0:
        print(f"{num} is a prime")

Enter a no.: 27

    20. Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. Print this new string as output. You can assume that all input strings will be in lower case.

In [26]:
a = input()
b = input()

for c in a:
    if c in b:
        b = b.replace(c,"")
print(b)

bhumika
sawade
swde

    21.Accept a phone number as input. A valid phone number should satisfy the following constraints.
    (1) The number should start with one of these digits: 6, 7, 8, 9
    (2) The number should be exactly 10 digits long.
    (3) No digit should appear more than 7 times in the number.
    (4) No digit should appear more than 5 times in a row in the number.
    If the fourth condition is not very clear, then consider this example: 
    the number 9888888765 is invalid because the digit 8 appears more than 5 times in a row. Print the string valid if the phone number is valid. If not, print the string invalid.

In [27]:
n = input()
a = False

if len(n) == 10 and int(n[0])>5 and n.isdigit():
    for i in range(10):
        if n.count(n[i])<8:
            a = True
            if n[i]*6 in n:
                a = False
                break
        else:
            break

if a:
    print("Valid")
else:
    print("Invalid")

9888888765
Invalid

    22. In the first line of input, accept a sequence of space-separated words. In the second line of input, accept a single word. If this word is not present in the sequence, print NO. If this word is present in the sequence, then print YES and in the next line of the output, print the number of times the word appears in the sequence.

In [30]:
a = input().split(" ")
b = "code"
if b in a:
    print("Yes")
    print(a.count(b))
else:
    print("No")

i write code i write code in ineuron
Yes
2

    23. Write a function named factorial that accepts an integer n as argument. It should return the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it should return 1 if n is zero.

In [31]:
def factorial(n):
    if n<0:
        return -1
    elif n==0:
        return 1
    else:
        f = 1
        for i in range(1,n+1):
            f*=i
        return f

In [32]:
factorial(6)

720

    24.The range of a list of numbers is the difference between the maximum and minimum values in the list
    Write a function named get_range that accepts a non-empty list of real numbers as argument. It should return the range of the list.
    (1) Avoid using built-in function such as max and min.
    (2) You do not have to accept input from the user or print output to the console. You just have to write the function definition.

In [33]:
def get_max(l):
    maxi = l[0]
    for x in l:
        if x>maxi:
            maxi = x
    return maxi

def get_min(l):
    mini = l[0]
    for x in l:
        if x < mini:
            mini = x
    return mini

def get_range(l):
    maxi = get_max(l)
    mini = get_min(l)
    return maxi - mini

In [34]:
get_range([1,2,3,4,5,6,7,8,9])

8

    25. Write a function named read_file that accepts a text file named filename as argument. Within the function, read the file and print each line of the file on a separate line in the console. You shouldn't print any extra characters at the end of a line. There shouldn't be an empty line between any two consecutive lines.
    (1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
    is filename = 'public_1.txt'.
    (2) You do not have to accept input from the console. You have to write the function definition and 
    print the contents of the file within the function

In [ ]:
def read_file(file: str):
    with open(file,"r") as f:
        lines = f.read()
        print(lines)

    26. A simple algorithm has to be designed to find out whether a student belongs to the Data Science branch or not. The input will be a student's roll number, which is of the form BR18B0000. Here, BR represents the branch code, 18 represents the year of joining, B represents the education level and 0000 represents the specific identification given to the student of that batch. The branch code for Data Science is DS. Print True if the student belongs to Data Science branch and False otherwise.

In [35]:
roll_no = input("Enter your roll no.: ")

if roll_no[:2] == "DS":
    print("True, student belong to Data Science branch")
else:
    print("False")

Enter your roll no.: BR18B0000
False

    27.The police are trying to track a criminal based on the evidence available at a crime site. Their main clue is a vehicle's damaged number plate. Only the string TN07 is visible. The format of the registration number is AA00AA00, where the first two letters are alphabets, next two are numbers, next two are again alphabets followed by two numbers at the end. A number plate is picked from a database of registration numbers and is given to you as input. Your task is to determine if this could belong to the criminal or not. Print True if the number plate contains TN07 and False otherwise.

In [36]:
n = input()

if "TN07" in n:
    print("True")
else:
    print("False")

AA00AA00
False

In [37]:
n = input()

if (n[0:4]) == "TN07" or (n[4:8]=="TN07"):
    print("True")
else:
    print("False")

AA00AA00
False

    28. You are given a string and two non-negative integers as input. The two integers specify the start and end indices of a substring in the given string. Create a new string by replicating the substring a minimum number of times so that the resulting string is longer than the input string. The input parameters are the string, start index of the substring and the end index of substring (endpoints inclusive) each on a different line.

In [38]:
n = input()
a = int(input())
b = int(input())

x = n[a:b+1]
y = len(n)
ans = ""
while (y>=len(ans)):
    ans+=x
print(ans)

code
2
3
dedede

    29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby,and Emerald for sports competitions. For dividing the students into these four groups, she has followed the pattern given below:
    Sapphire - 1, 5, 9, 13, 17, 21, ...
    Peridot - 2, 6, 10, 14, 18, 22, ...
    Ruby - 3, 7, 11, 15, 19, 23, ...
    Emerald - 4, 8, 12, 16, 20, 24, ...
    All the students are represented by their roll numbers. Based on the above pattern, given the roll number as input, print the group the student belongs to. Note that the roll number can be any positive integer and not necessarily less than 25.

In [39]:
n = int(input())

for i in range(1,n+1,4):
    if n == i:
        print("SAPPHIRE")
for j in range(2,n+1,4):
    if n == j:
        print("PERIDOT") 
for k in range(3,n+1,4):
    if n == k:
        print("RUBY")
for l in range(4,n+1,4):
    if n == l:
        print("EMERALD")

6
PERIDOT

    30. A data science company wants to hire data scientists from abc college. The company follows a certain criteria for selection: for a student to be selected, the number of backlogs should be at most 5 and the CGPA (Cumulative Grade Point Average) should be greater than 6. If the student does not fit the above criteria, then the student is not offered the job. If the student is selected, then the salary offered is equal to 5 times his/her CGPA (in lakhs).Accept the number of backlogs (integer) and the CGPA (float) of the student as input. Your task is to determine if the student is selected or not. If the student is selected, then print the package. If not, then print the string Not Selected.

In [40]:
backlogs = int(input("No. of backlogs"))
cgpa = float(input("Enter cgpa: "))

if backlogs <= 5 and cgpa > 6:
    print("Student is selected")
    print(f"Salary: {5*cgpa} lakhs")
else:
    print("Not selected")

No. of backlogs4
Enter cgpa: 8
Student is selected
Salary: 40.0 lakhs

    31. Accept a string as input and print PALINDROME if it is a palindrome, and NOT PALINDROME otherwise

In [41]:
s = input()
reverse = s[::-1]

if s == reverse:
    print("String is a PALINDROME")
else:
    print("Not a PALINDROME")

malyaylam
String is a PALINDROME

    32. In a portal login website, you are asked to write a function get_password_strength to decide 
    the strength of a password. The strength is decided based on the total score of the password, Use 
    following conditions:
    1) If password has length greater than 7 then score increases by one point.
    2) If password has at least one upper case and one lower case alphabets score increases by one point.
    3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
    increases by one point.
    4) If password has at least one special character (any character other than numbers and alphabets) then 
    score increases by one point.
    5) If password contains username, then it is invalid password.
    If the password has score of four points, three points, two points, or one point then print Very 
    Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
    print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
    different password.The arguments to the function are username and password which are 
    already defined

In [42]:
capital = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
capital.lower()

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
def get_password_strength(username,password):
    c = 0
    capital = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    c_flag = False
    small = 'abcdefghijklmnopqrstuvwxyz'
    s_flag = False
    num = "0123456789"
    n_flag = False
    if username in password:
        print("Password should not contain username")
        return
    if len(password)>7:
        c = c+1
    for i in range(len(password)):
        if password[i] in small:
            s_flag = True
        elif password[i] ==capital:
            c_flag = True
        elif password[i] in num:
            n_flag = True
        if n_flag:
            if i!=len(password)-1:
                if num[((num.index(password[i]))+ 1)] == password[i+1]:
                    nc_flag = False    
    if c_flag and s_flag:
                    c+=1
    if n_flag and nc_flag:
                     c+=1
    if not password.isalnum():
                     c+=1
            
    if c == 4:
                     print("very strong")
                     return
    if c == 3:
                     print("strong")
                     return
    if c == 2:
                     print("Moderate")
                     return   
    if c == 1:
                     print("Weak")
                     return
    if c == 0:
                     print("Use a different password")
                     return
  #check

In [ ]:
get_password_strength("bhumika","bhu365657vgft4")

    33.decorator that logs the date and time

In [43]:
# if you want to add more fuctionality to the existent function so in python we call that decorator

from datetime import datetime

def log_datetime(func):
    
    def wrapper():
        print(f'function: {func.__name__} \nRun on {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper

@log_datetime
def daily_backup():
    print("Daily backup job has finished")

In [44]:
daily_backup()

function: daily_backup
Run on 2023-12-01 13:49:57
------------------------------
Daily backup job has finished

    34.Program to Get Data Items From a List Appearing Odd Number of Times

In [45]:
l = [2,2,1,3,7,8,9]

for i in l :
    if l.count(i) %2 != 0:
        print(i)

1
3
7
8
9

In [46]:
x = [1,2,3,4,5,1,3,3,4]
l1 = []
for i in x:
    if x.count(i)%2 != 0:
        if i not in l1:
            l1.append(i)
print(l1)

[2, 3, 5]

    35.What are decorators in Python?
    adding more fuctionality to the existing function

In [49]:
@test2
def test1():
    a = "Hello World"
    return a.lower()

In [50]:
test1()

['hello', 'world']

In [48]:
def test2(function):
    def wrapper():
        func = function()
        b = func.split()
        return b
    return wrapper

In [51]:
#decorator function to convert to lowercase:
def lowercase_dec(function):
    def wrapper():
        func = function()
        string_lowercase = func.lower()
        return string_lowercase
    return wrapper

# decorator function to split words:
def splitter_dec(function):
    def wrapper():
        func = function()
        string_split = func.split()
        return string_split
    return wrapper

@splitter_dec    
@lowercase_dec 
def hello():
    return "Hello World"

In [52]:
hello()

['hello', 'world']

    36. remove items from a list while iterating but without creating a different copy of a list.
    Remove numbers greater than 50
    number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
    Expected Output: [10, 20, 30, 40, 50]

In [53]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
number_list =  [ele for ele in number_list if ele<=50]
print(number_list)

[10, 20, 30, 40, 50]

In [54]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
n = len(number_list)
while i<n:
    if number_list[i]>50:
        del number_list[i]
        n = n-1
    else:
        i = i+1
print(number_list)

[10, 20, 30, 40, 50]

    37.  Display all duplicate items from a list
    sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
    Expected Output: [20, 60, 30]

In [55]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l = []
for i in sample_list:
    if sample_list.count(i)>1:
        l.append(i)
print(list(set(l)))

[20, 60, 30]

    38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.Create an inner function inside an outer function that will concatenate x and y.At last, an outer function will join the word 'developer' to it.

In [56]:
def outer(x,y):
    def inner(x,y):
        return x + y
    z = inner(x,y)
    return z + "developer"

In [57]:
outer("Emma","Kelly")

'EmmaKellydeveloper'

In [58]:
outer("bhumi","sawd")

'bhumisawddeveloper'

    39. Modify the element of a nested list inside the following list. Change the element 35 to 3500
    list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [59]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500

In [60]:
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

    40.  Access the nested key increment from the following dictionary
    Access 12
    emp_dict = {
        "company": {
            "employee": {
                "name": "Jess",
                "payable": {
                    "salary": 9000,
                    "increment": 12
                }
            }
        }
    }

In [61]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [62]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

    41. Print the sum of the current number and the previous numberWrite a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [63]:
for i in range(0,10):
    print(f"Current No.: {i} Previous No.: {i-1} Sum: {i+i-1}")

Current No.: 0 Previous No.: -1 Sum: -1
Current No.: 1 Previous No.: 0 Sum: 1
Current No.: 2 Previous No.: 1 Sum: 3
Current No.: 3 Previous No.: 2 Sum: 5
Current No.: 4 Previous No.: 3 Sum: 7
Current No.: 5 Previous No.: 4 Sum: 9
Current No.: 6 Previous No.: 5 Sum: 11
Current No.: 7 Previous No.: 6 Sum: 13
Current No.: 8 Previous No.: 7 Sum: 15
Current No.: 9 Previous No.: 8 Sum: 17

In [64]:
prev = 0
for i in range(0,10):
    sum_ = i + prev
    print(f"Current No.: {i} Previous No.: {prev} Sum: {sum_}")
    prev = i

Current No.: 0 Previous No.: 0 Sum: 0
Current No.: 1 Previous No.: 0 Sum: 1
Current No.: 2 Previous No.: 1 Sum: 3
Current No.: 3 Previous No.: 2 Sum: 5
Current No.: 4 Previous No.: 3 Sum: 7
Current No.: 5 Previous No.: 4 Sum: 9
Current No.: 6 Previous No.: 5 Sum: 11
Current No.: 7 Previous No.: 6 Sum: 13
Current No.: 8 Previous No.: 7 Sum: 15
Current No.: 9 Previous No.: 8 Sum: 17

    42. Print characters from a string that are present at an even index number Write a program to accept a string from the user and display characters that are present at an even index number.

    For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [65]:
str_ = input("Enter string:" )

for i in range(0,len(str_)):
    if i%2 == 0:
        print(str_[i],end = " ")

Enter string:ineuron
i e r n

    43. Print multiplication table form 1 to 10
    1  2 3 4 5 6 7 8 9 10 		
    2  4 6 8 10 12 14 16 18 20 		
    3  6 9 12 15 18 21 24 27 30 		
    4  8 12 16 20 24 28 32 36 40 		
    5  10 15 20 25 30 35 40 45 50 		
    6  12 18 24 30 36 42 48 54 60 		
    7  14 21 28 35 42 49 56 63 70 		
    8  16 24 32 40 48 56 64 72 80 		
    9  18 27 36 45 54 63 72 81 90 		
    10 20 30 40 50 60 70 80 90 100

In [66]:
for i in range(1,11):
    for j in range(1,11):
        c = i * j
        
        print(f"{c} ",end = " ")
    print("\n")

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

    44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
    sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
    Expected Outcome:
    unique items [87, 45, 41, 65, 99]
    tuple (87, 45, 41, 65, 99)
    min: 41
    max: 99

In [67]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
l = []
for i in sample_list:
    if sample_list.count(i)<=1:
        l.append(i)
print(f"unique items: {l}")
print(f"tuple: {tuple(l)}")
print(f"min: {min(sample_list)}")
print(f"max: {max(sample_list)}")

unique items: [87, 45, 65, 99]
tuple: (87, 45, 65, 99)
min: 41
max: 99

    45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,also create a lambda function that multiplies argument x with argument y and print the result.

In [68]:
add_15 = lambda x: x + 15
print("Addition:",add_15(2))

Addition: 17

In [69]:
multi = lambda x,y: x*y
print("Multiplication:",multi(5,9))

Multiplication: 45

    46. Write a Python program to sort a list of tuples using Lambda.

In [70]:
sort_list = lambda x : sorted(x)

In [71]:
l = [(3,"m"),(2,"n"),(1,"o")]
sort_list(l)

[(1, 'o'), (2, 'n'), (3, 'm')]

    47. Write a Python program to extract year, month, date and time using Lambda.

In [72]:
import datetime

now = datetime.datetime.now()
print(now)

2023-12-01 13:55:59.558425

In [73]:
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()

In [74]:
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2023
12
1
13:55:59.558425

    48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [75]:
l = [5,8,6,3,2,5,2,1,8]

even = len(list(filter(lambda x: x%2 == 0 ,l)))
odd = len(list(filter(lambda x: x%2 != 0 ,l)))

In [76]:
print("Total even no",even)
print("Total odd no",odd)

Total even no 5
Total odd no 4

    49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.Use map() function.

In [77]:
def test(s):
    return str(s).upper(),str(s).lower()

chars = ["e","E","N","c"]

In [78]:
result = map(test,chars)
print(set(result))

{('C', 'c'), ('N', 'n'), ('E', 'e')}

    50.  Write a Python program to square the elements of a list using map() function.

In [79]:
def square(n):
    return n * n

In [80]:
numbers = (1,2,3,43,2)

In [81]:
result = map(square,numbers)
print(list(result))

[1, 4, 9, 1849, 4]