    OOP (Object Oriented Programme) - 
    we write the programme in terms of classes and objects

    scripting - whatever the code we have written we are executing it line by line 
    Python supports both scripting and OOPs

    object - is a real world entity that is sorrounded by us and each object has the property and the functionality associated with it

    class is a blueprint to create that particular object , if we have a blueprint we can create multiple object of it
    class is a  blueprint or a code template for object creation
    object - An object is  instance of a class

    properties of object ---> attributes, instance variable
    functionality of object ---> method/function()

In [4]:
#create class
class Emp:
    pass

In [5]:
#create object
e = Emp()    # creating the object of the class with syntax Emp 
             # e - object

In [6]:
print(type(e))
type(e)

<class '__main__.Emp'>

__main__.Emp

In [7]:
class Robot:
    
    def introduce_self(self):         #method
        print("My name is " + self.name)

In [8]:
r1 = Robot()

In [9]:
r1

In [10]:
r1.name = "abc"  # instance

In [ ]:
r1. #tab

In [11]:
r1.introduce_self()  #tab

My name is abc

In [12]:
r2 = Robot()
r2.name = "xyz"

In [13]:
r2.introduce_self()

My name is xyz

In [14]:
r2.name

'xyz'

In [15]:
dir(r1) # see 'introduce_self','name'

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'introduce_self',
 'name']

In [16]:
r3 = Robot()

In [17]:
r3.introduce_self()

AttributeError: 'Robot' object has no attribute 'name'

        we study the concept of constructor so that we can initialise the some property by default, there where __init__ method will  come

In [18]:
class Robot:
    def __init__(self,name,color,weight):
        self.name = name
        self.color = color
        self.weight = weight
    
    
    def introduce_self(self):         #method
        print("My name is " + self.name)

In [19]:
r1 = Robot("bhumika","black",60)

In [20]:
r2 = Robot("bhumi","blue",40)

In [21]:
r1.introduce_self()

My name is bhumika

In [22]:
r1.color

'black'

In [23]:
class Person:
    
    def __init__(self,name,gender,profession):
        self.name = name
        self.gender = gender
        self.profession = profession
    
    def show(self):
        print("Name :",self.name,"Gender :",self.gender,"Profession :",self.profession)
        
    def work(self):
        print(self.name,"working as a",self.profession)

In [24]:
o1 = Person("bhumika","F","Data Analyst")

In [25]:
o1.work()

bhumika working as a Data Analyst

In [26]:
o1.show()

Name : bhumika Gender : F Profession : Data Analyst

In [27]:
class Emp:
    
    def __init__(self):
        print(id(self))
        self.age = 25
        self.name = "bhumika"
        self.salary = 30000

In [28]:
e1 = Emp()

2120651583504

In [29]:
e1.salary

30000

In [30]:
e1.weight = 40

In [31]:
e1.weight

40

In [32]:
# circumference (2 pie r) and area of circle (pie r^2)

class Circle:
    
    def __init__(self,radius):
        self.radius = radius
        
    def circumference(self):
        print("Circumference:",2*3.14*self.radius)
        
    def area(self):
        print("Area of circle:",3.14*self.radius*self.radius)

In [33]:
r = Circle(4)

In [34]:
r.area()

Area of circle: 50.24

In [35]:
r.circumference()

Circumference: 25.12

In [36]:
# create class Bankaccount
# create consructor acc.no., name, balance
# deposit()
# withdraw()
# display account details


class Bankaccount:
    
    def __init__(self,account_number,name,balance):
        self.account_number = account_number
        self.name = name
        self.balance = balance
        
    def deposit(self,deposit_amount):
        self.deposit_amount = deposit_amount
        self.balance = self.balance + self.deposit_amount
        print("Total Amount:",self.balance)
        
    def withdraw(self,withdraw_amount):
        self.withdraw_amount = withdraw_amount
        self.balance = self.balance - self.withdraw_amount
        print("Total Amount:",self.balance)
        
    def account_details(self):
        print("Name :",self.name)
        print("Account Number :",self.account_number)
        print("Balance : ",self.balance)

In [37]:
bank = Bankaccount(123,"bhumika",45000)

In [38]:
bank.deposit(1000)

Total Amount: 46000

In [39]:
bank.withdraw(1000)

Total Amount: 45000

In [40]:
bank.account_details()

Name : bhumika
Account Number : 123
Balance :  45000

In [41]:
class Car:
    pass

In [42]:
audi = Car()

In [ ]:
audi.    # tab

In [45]:
# In each class we have basically two major things, methods and attributes
#  -----class variable, instance variable, variable, attributes
#  -----methode(functions)

In [46]:
audi.mileage = 10
audi.year = 2006
audi.make = 345
audi.model = "abc"

In [ ]:
audi.  # tab,  all the instance variable we cav ascess

In [47]:
audi.mileage

10

In [48]:
nano = Car()

In [49]:
nano.mileage = 67
nano.year = 2007
nano.make = 67
nano.model = "xyz"

In [50]:
nano.model

'xyz'

In [51]:
class Car:
    
    def __init__(self,mileage,year,make,model):
        self.mileage = mileage
        self.year = year
        self.make = make
        self.model = model

In [52]:
nano1 = Car(10,2009,45,"mno")
nano2 = Car(20,2008,48,"abc")
nano3 = Car(30,2007,49,"xyz")
nano4 = Car(40,2006,45,"klm")
nano5 = Car(50,2005,50,"uvw")
nano6 = Car(60,2004,60,"rev")

In [54]:
# whenever you create any method in a class the first parameter is always pointer (self), self is associated with that particular object

In [55]:
class Car:
    
    def __init__(a,m,y,ma,mo):
        a.mileage = m
        a.year = y
        a.make = ma
        a.model = mo
        
    def age(b,current_year):
        return current_year - b.year
    
    def milage(self):
        return("Print a mileage of the car", self.mileage)
    
    def __str__(c):
        return "This is from class I have created"

In [56]:
nano23 = Car(10,2009,45,"bhumissae")

In [57]:
nano23.age(2020)

11

In [58]:
nano23.milage()

('Print a mileage of the car', 10)

In [59]:
print(nano23)  # gives memory instance i.e memory location

This is from class I have created

In [60]:
# __str__ will return some doc string, showing information regarding the particular object 
print(nano23)   # This we get after adding __str__ (special method)

This is from class I have created

In [61]:
class Person:
    
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def __str__(self):
        return "This is the person class"

In [62]:
person = Person("bhumika","sawade",23)

In [63]:
print(person)

This is the person class

In [64]:
print(person)  # after adding special method __str__, customise message

This is the person class

In [65]:
person.first_name

'bhumika'

In [66]:
class Student:
    
    def __init__(self,name, roll_no, joining_date, current_topic):
        self.name = name
        self.roll_no = roll_no
        self.joining_date = joining_date
        self.current_topic = current_topic
        
    def cur_topic(self):
        print("Current topic discussed in class: ",self.current_topic)
        
    def str_rollno(self):
        
        try:
            if type(self.roll_no) == str:
                print("Do nothing")
                
            else: 
                return str(self.roll_no)
        except Exception as e:
            print("This s my error message",e)
            
    def duration(self,current_date):
        print("Duration of student in my class:",current_date - self.joining_date)
        
    def __str__(self):
        return "this is student class"

In [67]:
s1 = Student("bhumik",23,2007,"data science")

In [68]:
print(s1)

this is student class

In [69]:
s1.joining_date

2007

In [70]:
s1.duration(2008)

Duration of student in my class: 1

In [71]:
s1.str_rollno()

'23'

In [72]:
class Calculator:
    
    def __init__(self,a,b):
        self.a = a
        self.b = b
                
    def add(self):
        print("Addition :",self.a + self.b)
              
    def subtract(self):
        print("Subtraction:",self.a - self.b)
              
    def multiply(self):
        print("Multiply:",self.a * self.b)
        
    def divide(self):
        print("Division:", self.a / self.b )

In [73]:
result = Calculator(7,3)

In [74]:
result.multiply()

Multiply: 21

In [75]:
#Default Constructor
class Student:
    
    def who(self):
        print("I am a Student")

In [76]:
s1 = Student()

In [77]:
s1.who()

I am a Student

In [78]:
# Non parametized constructor

class Company:
    
    def __init__(self):
        self.name = "ineuron"
        self.address = "Banglore"
        
    def show(self):
        print("Name :",self.name,"Address :",self.address)

In [79]:
cmp = Company()

In [80]:
cmp.show()

Name : ineuron Address : Banglore

In [81]:
# Parametized constructor

class Pub_mod:
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def aged(self):
        print("Age:",self.age)

In [82]:
c1 = Pub_mod("bhumika",23)

In [83]:
c1.aged()

Age: 23