# Variable Case Sensitivity

In [1]:
Ten = 10
ten = 20
# ten and Ten are different in terms of lowercase and uppercase letter-

# Reserved words in Python

In [2]:
print("Hii there")

Hii there

In [3]:
print = "Hii there" 
type(print)

str

In [4]:
print("hii there")

TypeError: 'str' object is not callable

1 we should not use reserved word as variable names
2 Also python doesn't restrict the user to use reserved keywords as a variable names

In [5]:
del print # deletes the variable print

In [6]:
print("hii there")

hii there

In Python 3.6, there are 33 reserved keywords:

Python
Keywords

False	def 	if	    raise
None	de l	import	return
True	elif	in	    try
and	    else	is	    while
as	    except	lambda	with
assert	finally	nonlocal	yield
break	for 	not	
class	from	or	
continue	    global	pass

# Multi assignment of variables

In [7]:
a,b,c,d = 16,34,26.9,"Bhumi"

In [8]:
type(b)

int

In [9]:
print(type(d))
d

<class 'str'>

'Bhumi'

In [10]:
a,b,c,d = 16

TypeError: cannot unpack non-iterable int object

In [11]:
a,b,c = 10,10,10

In [12]:
a,A,c,C = 4,8.7,True,"Sawade"

In [13]:
print(a,A,c,C)

4 8.7 True Sawade

In [14]:
a=b=c=10

In [15]:
b

10

In [16]:
first_name, last_name, sir_name = "bhumika","Prakash","sawade"

In [17]:
print(f"{first_name}.{sir_name}@gmail.com")

bhumika.sawade@gmail.com

In [18]:
name,place,birth,weight = "Bhumik","nagpur",2000,40

In [19]:
print(f"""
My name is {name}
I live at {place}
I was born in {birth}
My weight is {weight}
""")

My name is Bhumik
I live at nagpur
I was born in 2000
My weight is 40

# User Input

In [20]:
name = input("Enter your name: ")
print(f"You have entered : {name}")

Enter your name: BHumika
You have entered : BHumika

In [21]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is : {A+B}")

Enter value of A: 34
Enter value of B: 34
Sum of A and B is : 3434

In [22]:
print(type(A),type(B))

<class 'str'> <class 'str'>

In [23]:
A = int(input("Enter value of A: "))  # type casting
B = int(input("Enter value of B: "))

print(f"Sum of A and B is : {A+B}")

Enter value of A: 4
Enter value of B: 4
Sum of A and B is : 8

In [25]:
A = int(input("Enter value of A: ")) 
B = int(input("Enter value of B: "))

print(f"Sum of A and B is : {A+B}")

Enter value of A: 3.5

ValueError: invalid literal for int() with base 10: '3.5'

In [26]:
A = float(input("Enter value of A: ")) 
B = int(input("Enter value of B: "))

print(f"Sum of A and B is : {A+B}")

Enter value of A: 33
Enter value of B: 2
Sum of A and B is : 35.0

In [27]:
name = input("Name: ")
place = input("Place:")
birth = int(input("Birth:"))
weight = float(input("Weight:"))

Name: bhumika
Place:Blr
Birth:2000
Weight:43

In [28]:
print(f"""
My name is {name}
I live at {place}
I was born in {birth}
My weight is {weight}
""")

My name is bhumika
I live at Blr
I was born in 2000
My weight is 43.0

In [29]:
# CAlculate the age of the user:


name = input("Name: ")
place = input("Place: ")
year_of_birth = int(input("Birth: "))
current_year = int(input("Current_input: "))

age = 2023 - year_of_birth

print(f"""
My name is {name}
I live at {place}
I was born in {birth}
{name} is of age {age}
""")

Name: bhumiks
Place: Ngp
Birth: 2000
Current_input: 2023

My name is bhumiks
I live at Ngp
I was born in 2000
bhumiks is of age 23

# Type Conversion

We can convert the datatypes of one variable to another if it's possible

### string to integer

In [30]:
A = "50"
type(A)

str

In [31]:
A = int('50')
type(A)

int

### string to float

In [32]:
B = "44.5"
type(B)

str

In [33]:
B = float(B)
type(B)

float

In [34]:
c = float("67.5")

In [35]:
type(c)

float

In [36]:
B = "45.9 "   # float value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = float(B)  # converting to int
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'str'>, Value of B: 45.9
Data type after: <class 'float'>, Value of B: 45.9

### float to integer

In [37]:
A = 45.7
print(type(A))

<class 'float'>

In [38]:
A =  int(A)
print(A,type(A))  # converting to integer

45 <class 'int'>

In [39]:
B = 45.9    # float value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = int(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'float'>, Value of B: 45.9
Data type after: <class 'int'>, Value of B: 45

### integer to float

In [40]:
B = 45    # int value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = float(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'int'>, Value of B: 45
Data type after: <class 'float'>, Value of B: 45.0

### integer to boolean

In [41]:
B = 45    # int value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = bool(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'int'>, Value of B: 45
Data type after: <class 'bool'>, Value of B: True

In [42]:
B = -5    # int value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = bool(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'int'>, Value of B: -5
Data type after: <class 'bool'>, Value of B: True

In [43]:

B = 0    # int value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = bool(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'int'>, Value of B: 0
Data type after: <class 'bool'>, Value of B: False

### string to boolan

In [44]:
B = "False"  
print(f"Data type before: {type(B)}, Value of B: {B}")
B = bool(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'str'>, Value of B: False
Data type after: <class 'bool'>, Value of B: True

In [45]:
#empty string to bool
B = ""  
print(f"Data type before: {type(B)}, Value of B: {B}")
B = bool(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'str'>, Value of B:
Data type after: <class 'bool'>, Value of B: False

In [46]:
#empty string to int
B = ""  
print(f"Data type before: {type(B)}, Value of B: {B}")
B = int(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'str'>, Value of B:

ValueError: invalid literal for int() with base 10: ''

### float to boolean

In [47]:
B = 45.89    # int value
print(f"Data type before: {type(B)}, Value of B: {B}")
B = bool(B)  
print(f"Data type after: {type(B)}, Value of B: {B}")

Data type before: <class 'float'>, Value of B: 45.89
Data type after: <class 'bool'>, Value of B: True

"True" in binary  - 1
"False" in binary - 0
Converting any non-zero no. and string values into boolean will give True a output
Empty string "" will give False as output after converting string to boolean

# Memory Block

In [48]:
a = 22
b = 34
c = 22

In [49]:
id(a) # memory address

2775421485968

In [50]:
id(b)

2775421486352

In [51]:
id(c)

2775421485968

In [52]:
c = 22 + b
id(c)

2775421487056

In [53]:
a = 3
id(a)

2775421485360

Memory is assigned to the "value of variable" passed not the variable name

In [54]:
d = "Bhumika"
id(d)

2775530423664

In [55]:
a = 22
b = "sawade"
c = 22.0

print(id(a),id(b),id(c))

2775421485968 2775530266992 2775529142128