# String methods

In [1]:
A = "Bhumika"

In [2]:
A[1]

'h'

In [7]:
# indexing in python starts with '0'

In [15]:
#     0123456
A  = "Bhumika"
#   -7-6-5-4-3-2-1

In [16]:
A[-1]

'a'

In [17]:
A[-4]

'm'

In [18]:
A[8]

IndexError: string index out of range

    If N characters or elememrs are there in a string then the index range will vary fron 0 to (N-1) 
    Index in reverse order will vary from -1 to -N

### string slicing

In [19]:
#       0123456
name = "Bhumika"

In [25]:
name[3:]  #[starting : ending]

'mika'

In [24]:
name[1:6]

'humik'

In [28]:
name[1:5]  # ending is excluded
           # 5 is not included

'humi'

In [29]:
name[-4:-1]

'mik'

In [35]:
#       0123456789
date = "30/10/2023"
#date = input("Enter DOB in the format DD/MM/YYYY")

# todays_date, month and year
todays_date = date[0:2]
month = date[3:5]
year = date[6:]

In [38]:
print(todays_date,month,year)
print(f"It's {todays_date} of the month {month} of the year{year}")

30 10 2023
It's 30 of the month 10 of the year2023

In [41]:
date = input("Enter DOB in the format DD/MM/YYYY : ")

date_ = date[0:2]
month = date[3:5]
year = date[6:]

print(f"The user was born on date {date_} in the month of {month} in the year {year}")

Enter DOB in the format DD/MM/YYYY : 02/10/1999
The user was born on date 02 in the month of 10 in the year 1999

In [42]:
date = input("Enter DOB in the format DD/MMM/YYYY : ")

date_ = date[0:2]
month = date[3:6]
year = date[7:]

print(f"The user was born on date {date_} in the month of {month} in the year {year}")

Enter DOB in the format DD/MMM/YYYY : 29/Jan/1993
The user was born on date 29 in the month of Jan in the year 1993

In [47]:
#        0_2_4
name  = "Bhumika"
name[0:5:2]   # start:end:step

'Bui'

In [46]:
#        0__3__6
name  = "Bhumika"
name[0::3]   # start:end:step

'Bma'

In [48]:
name[0::2]   # start:end:step

'Buia'

In [50]:
name[::-1]

'akimuhB'

In [53]:
name = "Bhumika Prakash Sawade"
name[0::2]

'BuiaPaahSwd'

In [54]:
len(name)

22

In [55]:
name[::]

'Bhumika Prakash Sawade'

In [57]:
name[::-1]  # printing in reverse order

'edawaS hsakarP akimuhB'

# Palindrome sequence

In [61]:
data = input("Enter your palindrome: ")
reverse = data[::-1]
print(reverse)

Enter your palindrome: radar
radar

In [65]:
data = input("Enter your palindrome: ")
reverse = data[::-1]

if data == reverse:
    print(f"Entered data {data} is a palindrome")
else:
    print(f"Input string {data} is not palindrome")

Enter your palindrome: malayalam
Entered data malayalam is a palindrome

### Mutability

    Mutable means subject to change or which can be changed
    String is immutable becz we cannot directly assign any value using indexing

In [67]:
name = "Bhumika"

# replace B with V
name[0] = "V"  # immutability

TypeError: 'str' object does not support item assignment

In [68]:
name[1:] + "V"

'humikaV'

In [69]:
"v" + name[1:]

'vhumika'

In [70]:
name

'Bhumika'

In [72]:
name = "v" + name[1:]
print(name)

vhumika

In [75]:
name = name.replace("a","AAA")
name

'vhumikAAA'

In [77]:
name = "Bhumika PRAKASH SAWADE"
name = name.replace("Bhumika","BHUMIKA")

In [79]:
name

'BHUMIKA PRAKASH SAWADE'

In [81]:
name.replace(" ",'__')

'BHUMIKA__PRAKASH__SAWADE'

### length of string

In [82]:
len(name)

22

In [83]:
len("Bhumika")

7

In [84]:
len("Bhumika   ")

10

### Count

count specific character in string

In [85]:
name = "Pravina"
name.count("a")

2

### Split operation

In [87]:
name = "Bhumika Prakash Sawade"
name.split(" ")  #list output

['Bhumika', 'Prakash', 'Sawade']

In [89]:
first_name , middle_name , last_name = name.split(" ")

print(f"""
First Name: {first_name}
Middle Name: {middle_name}
Sir Name: {last_name}
""")

First Name: Bhumika
Middle Name: Prakash
Sir Name: Sawade

In [91]:
data = input("Enter DOB in the format DD/MMM/YYYY : ")

date_,month,year = data.split("/")

print(f"The user was born on date {date_} in the month of {month} in the year {year}")

Enter DOB in the format DD/MMM/YYYY : 29/oct/1997
The user was born on date 29 in the month of oct in the year 1997

In [92]:
data.split("/")

['29', 'oct', '1997']

In [93]:
name

'Bhumika Prakash Sawade'

In [95]:
name.split("a")

['Bhumik', ' Pr', 'k', 'sh S', 'w', 'de']

### Lowercase, uppercase, title, etc

In [96]:
name

'Bhumika Prakash Sawade'

In [98]:
name.lower()

'bhumika prakash sawade'

In [100]:
name.upper()

'BHUMIKA PRAKASH SAWADE'

In [104]:
name = input("Enter your name: ")

print(f"Name in uppercase: {name.upper()}")
print(f"Name in lowercase: {name.lower()}")
print(f"Name in titlecase: {name.title()}")
print(f"Name in capitalizecase: {name.capitalize()}")
print(f"Name in swapcase: {name.swapcase()}")

Enter your name: bhumika Sawade Prakash
Name in uppercase: BHUMIKA SAWADE PRAKASH
Name in lowercase: bhumika sawade prakash
Name in titlecase: Bhumika Sawade Prakash
Name in capitalizecase: Bhumika sawade prakash
Name in swapcase: BHUMIKA sAWADE pRAKASH

### Join

In [106]:
name = "Bhumi Prakash Sawade"
"_".join(name)

'B_h_u_m_i_ _P_r_a_k_a_s_h_ _S_a_w_a_d_e'

In [108]:
"*".join(name)  # in between the sentence

'B*h*u*m*i* *P*r*a*k*a*s*h* *S*a*w*a*d*e'

### strip

In [109]:
## remove extra spaces from front and back only of the string

In [110]:
name = '  Bhumika   '

In [111]:
name.strip(" ")

'Bhumika'

In [112]:
# left strip
name.lstrip(" ")

'Bhumika   '

In [113]:
# right strip
name.rstrip(" ")

'  Bhumika'

In [115]:
name = "  Bhumika+++"
name.strip("++++")

'  Bhumika'

### Formatting

In [118]:
name = "Bhumikka"

name.center(20,"+")

'++++++Bhumikka++++++'

In [119]:
name.center(10,"+")

'+Bhumikka+'

In [120]:
name.center(4,"+")

'Bhumikka'

### Checking string cases

In [121]:
name = "BHUMIKA"

In [122]:
name.isupper()

True

In [123]:
name.islower()

False

In [125]:
name = "bhumika"
name.islower()

True

In [127]:
name.istitle()

False

In [126]:
name = "  "
name.isspace()

True

In [130]:
name = input("Enter your name: ")

if name.istitle():
    print("User has given correct input")
else:
    print("Wrong input we need to autocorrect it!!")
    name = name.title()
    print(f"Corrected Name: {name}")

Enter your name: bhuMIKA SAWde
Wrong input we need to autocorrect it!!
Corrected Name: Bhumika Sawde

In [131]:
name = input("Enter your name: ")

if name.istitle():
    print("User has given correct input")
else:
    print("Wrong input we need to autocorrect it!!")
    name = name.title()
    print(f"Corrected Name: {name}")

Enter your name:
Wrong input we need to autocorrect it!!
Corrected Name:

In [135]:
name = input("Enter your name: ")

if name.istitle():
    print("User has given correct input")
elif name.isspace():
    print(f"Wrong input, Plz try again!")
else:
    print("Wrong input we need to autocorrect it!!")
    name = name.title()
    print(f"Corrected Name: {name}")

Enter your name:
Wrong input, Plz try again!

In [137]:
phone_number = "51234567bhh"
phone_number.isdigit()

False

In [138]:
phone_no = input("Enter your no.: ")

if phone_no.isdigit() and len(phone_no) == 10:
    print("User input is correct")
else:
    print("Invalid!!")

User input is correct

In [139]:
phone_no = input("Enter your no.: ")

if phone_no.isdigit() and len(phone_no) == 10 and phone_no != "00000000000":
    print("User input is correct")
else:
    print("Invalid!!")

Enter your no.: 56333784
Invalid!!

In [141]:
phone_no.startswith("91")

False

In [143]:
phone_no.endswith("0")

False

In [147]:
##### Phone no. belonging to India: (+91##########)
phone_no = input("Enter your no.: ")

if phone_no[1:].isdigit() and len(phone_no) == 13 and phone_no.startswith("+91") and phone_no.count("0") <= 7:
    print("User input is correct")
else:
    print("Invalid!!")

Enter your no.: +910000000087
Invalid!!

In [148]:
pan_numbers = "bhu123"

pan_numbers.isalnum()  # check for alphabts or numeric case

True

In [151]:
pan_numbers = "bh  u123"

pan_numbers.isalnum()

False