    Online food order - zomato, swiggy, uber eats'
      if you order more than Rs. 500
          discount =20%
      if you order more than Rs.1000
          discount =30%    
      if you order more than Rs.1500
          discount = 40%

In [1]:
total_amount = 90+100+10+500+1000
print(f"Cart Total : {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount*0.7   # 30% discount added
    print("30% discount added")
    print(f"Pay Amount = {price_after_discount}")
elif total_amount <= 999 and total_amount > 499:
    price_after_discount = total_amount*0.8   # 20% discount added
    print("20% discount added")
    print(f"Pay amount = {price_after_discount}")   
else:
    print("No discount added")
    print(f"Pay Amount : {total_amount}")

Cart Total : 1700
30% discount added
Pay Amount = 1190.0

In [2]:
total_amount = 1000+90+100+10+500+1000
print(f"Cart Total : {total_amount}")

if total_amount > 1500:
    price_after_discount =total_amount*(0.6)
    print("40% discount added")
    print(f"Pay Amount : {price_after_discount}")
elif 999 < total_amount <= 1499:
    price_after_discount = total_amount*0.7   # 30% discount added
    print("30% discount added")
    print(f"Pay Amount = {price_after_discount}")
elif total_amount <= 999 and total_amount > 499:
    price_after_discount = total_amount*0.8   # 20% discount added
    print("20% discount added")
    print(f"Pay amount = {price_after_discount}")   
else:
    print("No discount added")
    print(f"Pay Amount : {total_amount}")

Cart Total : 2700
40% discount added
Pay Amount : 1620.0

### Nested if else

    print if the no is negative or positive

In [4]:
val = float(input("Enter a no.: "))

if val >= 0:
    print(f"The number {val} is positive")
    if val == 0:
        print("Entered number is zero")
    else:
        print("Entered number is positive but not zero")
else:
    print(f"{val} It's a negative no.")

Enter a no.: 0
The number 0.0 is positive
Entered number is zero

In [5]:
val = float(input("Enter a no.: "))

if val >= 0:
    if val == 0:
        print("It's zero")
    else:
        print("It's a positive no. ")
else:
    print(" It's a negative no.")

Enter a no.: -6
 It's a negative no.

In [6]:
a,b,c = 120,13,15

if a>b:
    if a>c:
        print(f"a is greater than all 3 no's : {a}")

a is greater than all 3 no's : 120

### Single line if else:

    Not recommended for coding in projects or production, but good for competative programming

    print yes if the no is greater than 99

In [8]:
val = float(input("Enter a no.: "))

if val > 99: print("Yes")

Enter a no.: 100
Yes

In [9]:
val = float(input("Enter a no.: "))  # not recommended approach, mainly used for competative programming

if val > 99: print("Yes")
else:print("No")

Enter a no.: 67
No

In [10]:
val = float(input("Enter a no.: "))

print("Yes" if val >99 else "NO")

Enter a no.: 98
NO

# Loops

### While

    while condition is True:
        keep on printing

In [12]:
total_marks = 1000
cut_off = 400
#          0   1   3   3   4
scores = [100,150,150,399,500]
year = 0    #indexing in python starts with zero

while scores[year] < cut_off:
    print(f"Your score:{scores[year]}, Cut off: {cut_off}")
    print("I will attempt next year")
    year = year + 1  # adding one to current year

Your score:100, Cut off: 400
I will attempt next year
Your score:150, Cut off: 400
I will attempt next year
Your score:150, Cut off: 400
I will attempt next year
Your score:399, Cut off: 400
I will attempt next year

In [13]:
scores[0]

100

### Infinite loop

    if the condition is always TRUE than yRour loop will keep on running

In [14]:
# while True:
#     print("Yes")

In [15]:
notes = 5
i = 1  # 1st note

while i <= notes:
    print(f"Current sum: {i*10}")
    i = i+1

Current sum: 10
Current sum: 20
Current sum: 30
Current sum: 40
Current sum: 50

In [16]:
# Table of 10:

i = 1

while i <= 10:
    print(f"10 X {i} = {10*i}")
    i = i+1

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [17]:
stations = ['Station 01','Station 02', 'Station 03','Station 04']

current_station = 0
destination_station = "Station 03"

while stations[current_station] != destination_station:
    print(f"Current Station = {stations[current_station]}")
    print(f"My destination : {destination_station}")
    print("Continue the journey, haven't reach the destination")
    current_station = current_station + 1
    print(f"Next station: {stations[current_station]}")
    print("--------------------------")

Current Station = Station 01
My destination : Station 03
Continue the journey, haven't reach the destination
Next station: Station 02
--------------------------
Current Station = Station 02
My destination : Station 03
Continue the journey, haven't reach the destination
Next station: Station 03
--------------------------

### while else

In [18]:
stations = ['Station 01','Station 02', 'Station 03','Station 04']

current_station = 0
destination_station = "Station 03"

while stations[current_station] != destination_station:
    print(f"Current Station = {stations[current_station]}")
    print(f"My destination : {destination_station}")
    print("Continue the journey, haven't reach the destination")
    current_station = current_station + 1
    print(f"Next station: {stations[current_station]}")
    print("--------------------------")
else:
    print(f"I have arrived at : {stations[current_station]}")

Current Station = Station 01
My destination : Station 03
Continue the journey, haven't reach the destination
Next station: Station 02
--------------------------
Current Station = Station 02
My destination : Station 03
Continue the journey, haven't reach the destination
Next station: Station 03
--------------------------
I have arrived at : Station 03

    while CONDITION is True:
        statement:
    else:
        statement

In [19]:
notes = 5
i = 1  # 1st note

while i <= notes:
    print(f"Condition : {i <= notes}")
    print(f"Current sum: {i*10}")
    i = i+1
    print("---------------")
else:
    print(f"Condition : {i <= notes}")
    print("No more 10 rupees notes left")

Condition : True
Current sum: 10
---------------
Condition : True
Current sum: 20
---------------
Condition : True
Current sum: 30
---------------
Condition : True
Current sum: 40
---------------
Condition : True
Current sum: 50
---------------
Condition : False
No more 10 rupees notes left

### For loop

In [20]:
for i in range(0,10):  # 10 is excluded
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(0,10):
    print(f"10 X {i} = {10*i}")
    
# we don't have to increment "i", automatically it is incremented
# for is not starting with a condition

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [22]:
for i in range(0,10):
    print(f"10 X {i+1} = {10*(i+1)}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [23]:
for i in range(1,11):  # 11 is here out of bound
    print(f"10 X {i} = {10*i}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [24]:
for i in range(1,11):  # i is a variable, can use anything instead
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
cost_of_items = [100,200,209,456]
total_sum = 0

for i in range(0,4):
    total_sum = total_sum + cost_of_items[i]
    
print(f"Total amount to be paid : {total_sum}")

Total amount to be paid : 965

In [26]:
cost_of_items = [100,200,209,456]
total_sum = 0

for i in range(0,4):
    print(f" {total_sum} = {total_sum + cost_of_items[i]}")
    print("------------------------")
print(f"Total amount to be paid : {total_sum}")

 0 = 100
------------------------
 0 = 200
------------------------
 0 = 209
------------------------
 0 = 456
------------------------
Total amount to be paid : 0

In [27]:
cost_of_items = [100,200,209,456]
total_sum = 0
 
for i in range(0,4):  # 0 1 2 3
    print(f"Total Sum :{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum  + cost_of_items[i]
    print("------------------")
print(f"Total Cost : {total_sum}")

Total Sum :0 = 0 + 100
------------------
Total Sum :100 = 100 + 200
------------------
Total Sum :300 = 300 + 209
------------------
Total Sum :509 = 509 + 456
------------------
Total Cost : 965

In [28]:
cost_of_items = [100,200,209,456]
total_sum = 0
N = len(cost_of_items)
 
for i in range(0,N):  # 0 1 2 3
    print(f"Total Sum :{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum  + cost_of_items[i]
    print("------------------")
print(f"Total Cost : {total_sum}")

Total Sum :0 = 0 + 100
------------------
Total Sum :100 = 100 + 200
------------------
Total Sum :300 = 300 + 209
------------------
Total Sum :509 = 509 + 456
------------------
Total Cost : 965

In [29]:
cost_of_items = [100,200,209,456]
total_sum = 0
 
for cost in cost_of_items:  
    print(f"Total Sum :{total_sum} = {total_sum} + {cost}")
    total_sum = total_sum  + cost
    print("------------------")
print(f"Total Cost : {total_sum}")

Total Sum :0 = 0 + 100
------------------
Total Sum :100 = 100 + 200
------------------
Total Sum :300 = 300 + 209
------------------
Total Sum :509 = 509 + 456
------------------
Total Cost : 965

In [30]:
list_ = [100,200,300,400]

for i in list_:
    print(i)

100
200
300
400

In [31]:
list_ = [100,200,300,400]
N = len(list_)

for i in range(0,N):
    print(list_[i])

100
200
300
400

In [32]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [33]:
for i in range(100,600,100):
    print(i)

100
200
300
400
500

In [34]:
stations = ['Station 01','Station 02', 'Station 03','Station 04']


for current_station in stations:
    print(f"Current Station: {current_station}")

Current Station: Station 01
Current Station: Station 02
Current Station: Station 03
Current Station: Station 04

In [35]:
cost_of_items = [100,200,209,456,500,1000]
total_sum = 0
budget = 2000

for cost in cost_of_items:  
    total_sum = total_sum  + cost
    if total_sum > budget:
        total_sum = total_sum  - cost
        break

print(f"Total Cost : {total_sum}")

Total Cost : 1465

In [36]:
cost_of_items = [100,200,209,456,500,1000]
total_sum = 0
budget = 2000

for cost in cost_of_items:  
    total_sum = total_sum  + cost
    print(f"Current Toal: {total_sum}")
    if total_sum > budget:
        print(f"Since current total is more than my budget:{budget}")
        print("Plz, remove last item")
        total_sum = total_sum  - cost
        break

print(f"Total Cost : {total_sum}")

Current Toal: 100
Current Toal: 300
Current Toal: 509
Current Toal: 965
Current Toal: 1465
Current Toal: 2465
Since current total is more than my budget:2000
Plz, remove last item
Total Cost : 1465

In [37]:
for i in range(0,100):
    print(i)
    if i > 50:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [38]:
for i in range(0,100):
#     print(i)
    if i > 50:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [39]:
for i in range(0,20):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [40]:
for i in range(0,20):
    if i%2 != 0: # if no. is  odd than start the loop again
        continue # start the loop again
    print(i)

0
2
4
6
8
10
12
14
16
18

In [41]:
for i in range(0,20):
    if i%2 != 0: 
        break  # STOP don't proceed at all
    print(i)

0

    break - it completely stops the loop
    continue - it skips the current loop, it skips the statement after continue keyword

In [42]:
for i in range(1,10):
    pass   # i want to right the code later