In [19]:
A = [1,2,3,4,5]

In [20]:
A[0]

1

In [21]:
B = [1,2.8,3+7j,"Bhumi",True]

    In array we will have element of only one data type .In python,list of all elements can be of different or same datatype

In [22]:
print(type(B))

for element in B:
    print(element)

<class 'list'>
1
2.8
(3+7j)
Bhumi
True

In [23]:
for i in range(len(B)):
    print(B[i])

1
2.8
(3+7j)
Bhumi
True

In [24]:
for i in range(len(B)):
    print(i,B[i],":",type(B[i]))

0 1 : <class 'int'>
1 2.8 : <class 'float'>
2 (3+7j) : <class 'complex'>
3 Bhumi : <class 'str'>
4 True : <class 'bool'>

 ### Slicing
     indexing and slicing of lists works just like in Strings. Similar to string, list index starts at 0 and it can be sliced and concatenated and all operations

In [25]:
#            0     1      2    3 4  5
my_list = ['one','two','three',5,6,True]

In [26]:
my_list[1:]

['two', 'three', 5, 6, True]

In [27]:
my_list[:3]

['one', 'two', 'three']

In [28]:
my_list[::-1]   # reverse

[True, 6, 5, 'three', 'two', 'one']

In [29]:
my_list[::-3]

[True, 'three']

In [30]:
my_list[::2]  # [startindex:endindex:step]

['one', 'three', 6]

In [31]:
for i in range(0,len(my_list),2):  #(start,end,stop)
    print(i,my_list[i])

0 one
2 three
4 6

In [32]:
for i in range(-1,-len(my_list)-1,-1):  #(start,end,stop)
    print(i,my_list[i])

-1 True
-2 6
-3 5
-4 three
-5 two
-6 one

In [33]:
my_list[::10000]

['one']

In [34]:
my_list

['one', 'two', 'three', 5, 6, True]

In [35]:
for i in [1,3,5]:
    print(my_list[i])

two
5
True

### Updating list element at specific index

In [36]:
my_list[5] = 6

In [37]:
my_list

['one', 'two', 'three', 5, 6, 6]

In [38]:
B

[1, 2.8, (3+7j), 'Bhumi', True]

In [39]:
B[4] = 999 # mutable operation allowed in list

In [40]:
B

[1, 2.8, (3+7j), 'Bhumi', 999]

In [41]:
B[-4] = "iNeuron"
B

[1, 'iNeuron', (3+7j), 'Bhumi', 999]

In [42]:
C =  [78,23.45]

### Operation

In [43]:
B+C

[1, 'iNeuron', (3+7j), 'Bhumi', 999, 78, 23.45]

In [44]:
B = B+C
B

[1, 'iNeuron', (3+7j), 'Bhumi', 999, 78, 23.45]

In [45]:
B * 2  # repeat the same element twice

[1,
 'iNeuron',
 (3+7j),
 'Bhumi',
 999,
 78,
 23.45,
 1,
 'iNeuron',
 (3+7j),
 'Bhumi',
 999,
 78,
 23.45]

In [46]:
B

[1, 'iNeuron', (3+7j), 'Bhumi', 999, 78, 23.45]

In [47]:
B/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [48]:
B+B+B

[1,
 'iNeuron',
 (3+7j),
 'Bhumi',
 999,
 78,
 23.45,
 1,
 'iNeuron',
 (3+7j),
 'Bhumi',
 999,
 78,
 23.45,
 1,
 'iNeuron',
 (3+7j),
 'Bhumi',
 999,
 78,
 23.45]

### Basic list methods
    List in python have no fixed size.
    They have no fixed type constraint

### len()
    length of a list can be calculated using in built len()

In [49]:
C = [1, 'iNeuron', (3+7j), 'Bhumi', 999, 78, 23.45, 78, 23.45]

In [50]:
len(C)

9

In [51]:
my_list = []   # not recommended
len(my_list)

0

In [52]:
my_list = list()   #  recommended
len(my_list)

0

In [53]:
list_of_items = list()  # empty list
N = int(input("No. of item to purchase"))

for i in range(N):
    user_input = input("Enter item you want to purchase: ")
    list_of_items = list_of_items + [user_input]
    
print(list_of_items)

No. of item to purchase5
Enter item you want to purchase: eraser
Enter item you want to purchase: book
Enter item you want to purchase: pencil
Enter item you want to purchase: bag
Enter item you want to purchase: bottle
['eraser', 'book', 'pencil', 'bag', 'bottle']

In [54]:
list_of_items = list()  # empty list
N = int(input("No. of item to purchase"))
i = 0

while i < N:
    user_input = input("Enter item you want to purchase: ")
    list_of_items = list_of_items + [user_input]
    i = i + 1
    
print(list_of_items)

No. of item to purchase3
Enter item you want to purchase: shirt
Enter item you want to purchase: trouser
Enter item you want to purchase: belt
['shirt', 'trouser', 'belt']

In [56]:
list_of_items = list()  # empty list
N = int(input("No. of item to purchase"))
i = 0

while i < N:
    user_input = input("Enter item you want to purchase: ")
    list_of_items = list_of_items + [user_input]
    print(f"Current list: {i} {list_of_items}")
    i = i + 1
    
print(list_of_items)

No. of item to purchase3
Enter item you want to purchase: pen
Current list: 0 ['pen']
Enter item you want to purchase: scale
Current list: 1 ['pen', 'scale']
Enter item you want to purchase: d
Current list: 2 ['pen', 'scale', 'd']
['pen', 'scale', 'd']

### Check membership in list

In [57]:
"Phone cover" in list_of_items

False

In [58]:
"pen" in list_of_items

True

In [59]:
if "Phone Cover" in list_of_items:
    print("Yes")
else:
    print("No, adding into the list")
    list_of_items = list_of_items + ["Phone Cover"]

print(list_of_items)

No, adding into the list
['pen', 'scale', 'd', 'Phone Cover']

In [60]:
if "Milk" not in list_of_items:
    print("No, adding into the list")
    list_of_items = list_of_items + ["Milk"]
else:
     print("Yes")


print(list_of_items)

No, adding into the list
['pen', 'scale', 'd', 'Phone Cover', 'Milk']

In [61]:
new_item = input("Anthing else to purchase: ")

if new_item not in list_of_items:
    print("No, adding into the list")
    list_of_items = list_of_items + [new_item]
else:
     print("Yes")


print(list_of_items)

Anthing else to purchase: compass
No, adding into the list
['pen', 'scale', 'd', 'Phone Cover', 'Milk', 'compass']

### max()
    we can find max value from a given list

In [62]:
list1 = ["iNeuron" , "Data Science" , "Big Data" , "Analytics"]
list2 = [5,6,7,8,9,5,2] 
print(max(list1))
print(max(list2))

iNeuron
9

In [63]:
list2 = [5,6,7,8,9,5,20.9,20] 
print(max(list2))

20.9

In [64]:
example = ["a","b","c","m"]
max(example)

'm'

In [65]:
example = ["a","b","c","m","M"]  # ACC. to ASCII(American Standard code for information Interchange) value of alphabets
max(example)

'm'

In [66]:
a = ["1","2","0"]
min(a)

'0'

In [67]:
string_example = ['bhumika',"avi","dew","dj","charlie","Doctor"]

print(min(string_example))
max(string_example)

Doctor

'dj'

In [68]:
# print the name with highest no. of character 

string_example = ['bhumikaps',"avi","dew","dj","charlie","Doctor"] 
max_ = 0
result  = ""
for i in string_example:
    print(i,len(i))
    if len(i) > max_:
        max_ = len(i)
        result = i

print(f"Result: max_lengt: {max_} name: {result}")

bhumikaps 9
avi 3
dew 3
dj 2
charlie 7
Doctor 6
Result: max_lengt: 9 name: bhumikaps

In [69]:
len(string_example)

6

In [70]:
b = ["avi","dewch","dj","charlie","Doctor"] 
max = 0

for i in range(0,len(b)):
    print(i,b[i],len(b[i]))

0 avi 3
1 dewch 5
2 dj 2
3 charlie 7
4 Doctor 6

    In python 3, you can't find max with different data types in a list

### Append
    if you want to add something in the end

In [71]:
l = [1,2,3]

In [72]:
l.append('append me!!')

In [73]:
l

[1, 2, 3, 'append me!!']

In [74]:
list_of_items = list()  # empty list
N = int(input("No. of item to purchase"))

for i in range(N):
    user_input = input("Enter item you want to purchase: ")
    list_of_items.append(user_input)   #recommended
    
print(list_of_items)

No. of item to purchase3
Enter item you want to purchase: pen
Enter item you want to purchase: pencil
Enter item you want to purchase: scale
['pen ', 'pencil', 'scale']

### Pop -
    Use pop to "pop off" an item from the list. By default, pop takes off the last index, but you can also specify which index to pop off

In [75]:
# pop off the 0 indexed item
l.pop(0)

1

In [76]:
l

[2, 3, 'append me!!']

In [77]:
l.pop() #by default removed last element

'append me!!'

In [78]:
l

[2, 3]

    list indexing will return an error if there is no element at that index

In [79]:
# print odd elements

A = [1,34,56,76,99]

for idx in range(len(A)):
    num = A[idx]
    print(idx,num)
    if num % 2 != 0: #odd condition
        print(f"odd num: {num}")
    else:
        print(f"even num: {num}")

0 1
odd num: 1
1 34
even num: 34
2 56
even num: 56
3 76
even num: 76
4 99
odd num: 99

### Sorted

        we can use the sort method and the reverse methods to also effect your lists

In [80]:
A = [1,34,56,87,65,-56]

sorted(A)  # ascending order

[-56, 1, 34, 56, 65, 87]

In [81]:
A   #not a permanent solution

[1, 34, 56, 87, 65, -56]

In [82]:
A = sorted(A)

In [83]:
A[::-1]   # reverse, descending order

[87, 65, 56, 34, 1, -56]

### sort()

In [84]:
A = [1,34,56,87,65,-56]

A.sort()  # permanent solution

In [85]:
A

[-56, 1, 34, 56, 65, 87]

In [86]:
A[::-1]

[87, 65, 56, 34, 1, -56]

In [87]:
A = [1,34,56,87,65,-56]

A.sort(reverse = True)  # permanent solution, in descending order

In [88]:
A

[87, 65, 56, 34, 1, -56]

In [89]:
A.reverse() # inplace operation: means permanent solution

In [90]:
A

[-56, 1, 34, 56, 65, 87]

### Nesting of the list
    list iinside a list

In [91]:
A = [[1,2,3],[11,22,33],[45,55,65]]
A

[[1, 2, 3], [11, 22, 33], [45, 55, 65]]

In [92]:
A[1][1]

22

In [93]:
B = [[1,2,3],[11,22,33,[500,600,800]],[45,55,65]]
B

[[1, 2, 3], [11, 22, 33, [500, 600, 800]], [45, 55, 65]]

In [94]:
B[1][3][2]

800

In [95]:
B[-2][-1][-1]

800

In [96]:
amazon_cart = [["watch",5000],["phone",10000],["laptop",50000]]

total_cost = 0

for i in range(0,len(amazon_cart)):
    amazon_cart[i][1]
    print(amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]

print(f"total_cost of item: {total_cost}")

5000
10000
50000
total_cost of item: 65000

In [97]:
amazon_cart = [["watch",5000],["phone",10000],["laptop",50000]]
total_cost = 0

for item in amazon_cart:
    print(item[1])
    total_cost = total_cost + item[1]
    print(f"Cart after adding: {item[0]} : {total_cost}")
    
print(f"total_cost of item: {total_cost}")

5000
Cart after adding: watch : 5000
10000
Cart after adding: phone : 15000
50000
Cart after adding: laptop : 65000
total_cost of item: 65000

### List Comprehension

In [98]:
# list which contains list of sq. of nos between 1 to 10:

A = [1,2,3,4,5,6,7,8,9,10]
list_ = list()

for ele in A:
    ele = ele**2
    list_.append(ele)

print(list_)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [99]:
A = [1,2,3,4,5,6,7,8,9,10]
list_ = [ele**2 for ele in A]
print(list_)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
# only take the sq. of odd no. in the list A:
A = [1,2,3,4,5,6,7,8,9,10]
list_ = list()

for ele in A:
    if ele%2 != 0:
        ele = ele**2
        list_.append(ele)
print(list_)

[1, 9, 25, 49, 81]

In [101]:
A = [1,2,3,4,5,6,7,8,9,10]

list_ = [ele**2 for ele in A if ele%2 != 0]
print(list_)

[1, 9, 25, 49, 81]

### Count
    to count how many nos of element are present there

In [102]:
A = [1,2,3,4,3,3,8,3]

In [103]:
A.count(3)

4

In [104]:
A.count(99)

0

In [105]:
A = [1,2,3,4,3,3,[8,8],3,[8,8]]
A.count([8,8])

2

In [106]:
A[-1].count(8)

2

In [107]:
A = [1,2,3,4,3,3,8,3]

for i in A:
    print(i, A.count(i))

1 1
2 1
3 4
4 1
3 4
3 4
8 1
3 4

In [108]:
A = "Bhumika"

for i in A:
    print(i, A.count(i))

B 1
h 1
u 1
m 1
i 1
k 1
a 1

In [109]:
A = ["Bhumika","Bhumika","BHUMIKA","Sawade"]

for i in A:
    print(i, A.count(i))

Bhumika 2
Bhumika 2
BHUMIKA 1
Sawade 1

### Extend

In [110]:
A = [1,2,3]
B = [11,22,33]

A+B

[1, 2, 3, 11, 22, 33]

In [111]:
A.extend(B)  # permanent operation

In [112]:
A

[1, 2, 3, 11, 22, 33]

In [113]:
B.extend(A)
B

[11, 22, 33, 1, 2, 3, 11, 22, 33]

### Index method

In [114]:
A = [1,3,4,53,"Bhumik",2+7j]

In [115]:
A.index(53)

3

In [116]:
# print index of all the complex no.

for i in A:
    if type(i) == complex:
        print(i,A.index(i))

(2+7j) 5

In [117]:
A = [1,3,4,53,"Bhumik",2+7j]

for ele in A:
    if isinstance(ele,complex):
        print(f"Element :{ele}, Type: {type(ele)}, Index: {A.index(ele)}")

Element :(2+7j), Type: <class 'complex'>, Index: 5

In [118]:
# print the index of all the complex or int 
A = [1,3,4,53,"Bhumik",2+7j]

for ele in A:
    if isinstance(ele,(complex,int)) :  # or case
        print(f"Element :{ele}, Type: {type(ele)}, Index: {A.index(ele)}")

Element :1, Type: <class 'int'>, Index: 0
Element :3, Type: <class 'int'>, Index: 1
Element :4, Type: <class 'int'>, Index: 2
Element :53, Type: <class 'int'>, Index: 3
Element :(2+7j), Type: <class 'complex'>, Index: 5

In [119]:
ans = [ele for ele in A if isinstance(ele,complex)]
ans

[(2+7j)]

In [120]:
ans = [ele for ele in A if type(ele)==complex]
ans

[(2+7j)]

In [121]:
A = [1,3,4,53,"Bhumik",2+7j,3,3]
A.index(3)  # duplicate element

1

### Insert

In [122]:
A = [1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [123]:
A.insert(2,"Bhumik")  # insert(indx,value)
A

[1, 2, 'Bhumik', 3, 4, 5, 99]

In [124]:
A.insert(2,["Bhumik","Sawade"])  # insert(indx,value)
A

[1, 2, ['Bhumik', 'Sawade'], 'Bhumik', 3, 4, 5, 99]

In [125]:
B = [1,2,3,4]
print(len(B))
B

4

[1, 2, 3, 4]

In [126]:
B.insert(2000,"penny")

In [127]:
len(B)

5

In [128]:
B[2000]

IndexError: list index out of range

In [129]:
B[4]

'penny'

###  Remove

In [130]:
A = [1,2,3,4,55,4,55,33]
A.remove(33)
A

[1, 2, 3, 4, 55, 4, 55]

In [131]:
A

[1, 2, 3, 4, 55, 4, 55]

    removes the first occurence of the element

In [132]:
A.pop()

55