### Tuples

    tuple()           list[]
    immutable         mutable

In [1]:
A = (1,2,3)
type(A)

tuple

In [2]:
A[0]

1

In [3]:
A[0] = 22  # hence immutability

TypeError: 'tuple' object does not support item assignment

In [4]:
A = (22,12,34,1)

In [5]:
A.sort()  # not allowed
        # tuple has no attribuutr sort

AttributeError: 'tuple' object has no attribute 'sort'

In [6]:
sorted(A)  # converting into list than return the sorted list

[1, 12, 22, 34]

In [7]:
A

(22, 12, 34, 1)

In [8]:
len(A)

4

In [9]:
A*2

(22, 12, 34, 1, 22, 12, 34, 1)

In [10]:
A**2

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [11]:
A

(22, 12, 34, 1)

In [12]:
max(A)

34

In [13]:
A.index(12)

1

In [14]:
A.count(22)

1

In [15]:
sum(A)

69

In [16]:
A.reversed()

AttributeError: 'tuple' object has no attribute 'reversed'

In [17]:
amazon_cart = [["watch",5000],["phone",10000],["laptop",50000]]

total_cost = 0

In [18]:
amazon_cart = [("watch",5000),("phone",10000),("laptop",50000)]

    where ever data integrity is required there we should use tuple

    Tuples are not used often as lists in programming, but are used when immutability is necessary. while you are passing around an object and if you need to make sure that it does not get changed then tuple become your solution. It provide a convenient source of data integrity

In [19]:
A

(22, 12, 34, 1)

In [20]:
A[1:]  #slicing

(12, 34, 1)

In [21]:
A[::-1]

(1, 34, 12, 22)

In [22]:
amazon_cart = [("watch",5000),("phone",10000),("laptop",50000)]
total_cost = 0

for item in amazon_cart:
    print(item[1])
    total_cost = total_cost + item[1]
    print(f"Cart after adding: {item[0]} : {total_cost}")
    
print(f"total_cost of item: {total_cost}")

5000
Cart after adding: watch : 5000
10000
Cart after adding: phone : 15000
50000
Cart after adding: laptop : 65000
total_cost of item: 65000

In [23]:
amazon_website = [("watch",5000),("phone",10000),("laptop",50000),("shirt",1000)]

my_choice = input("What you want to purchase: ")

What you want to purchase: watch

In [24]:
for item in amazon_website:
    if item[0] == my_choice:
        print(item)
#     else:
#         print("OUT OF STOCK")

('watch', 5000)

### Sets
    unordered collection of unique elements

In [25]:
x = {1,2,33,4,33,2}
type(x)

set

In [26]:
x

{1, 2, 4, 33}

In [27]:
x = set()  #recommended
type(x)

set

In [28]:
x = {}  # not recommended
type(x)

dict

In [29]:
x = {1,2,33,4,33,2}
type(x)

set

In [30]:
x[2]  # not allowed as set is unordered

TypeError: 'set' object is not subscriptable

In [31]:
x.add(99)  # append doesn't work, here we use add

In [32]:
x

{1, 2, 4, 33, 99}

In [33]:
A = {1,2,3}
B = {4,5,6}

A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [34]:
# print the unique value

A = [12,12,22,3,4,5,4,44,3,2,2,1]
A = set(A)

In [35]:
A

{1, 2, 3, 4, 5, 12, 22, 44}

In [36]:
A = [12,12,22,3,4,5,4,44,3,2,2,1]
A = list(set(A))
A

[1, 2, 3, 4, 5, 12, 44, 22]

In [37]:
A = [12,12,22,3,4,5,4,44,3,2,2,1]
A = set(A)
A.add(-100)

In [38]:
A

{-100, 1, 2, 3, 4, 5, 12, 22, 44}

In [39]:
A.add(5.7)
A

{-100, 1, 2, 3, 4, 5, 5.7, 12, 22, 44}

In [40]:
A.add("Bhumika")
A

{-100, 1, 12, 2, 22, 3, 4, 44, 5, 5.7, 'Bhumika'}

In [41]:
A.remove(1)

In [42]:
A

{-100, 12, 2, 22, 3, 4, 44, 5, 5.7, 'Bhumika'}

    sets are mutable in nature