In [8]:
a = "Bhumika"

In [9]:
len(a)  # here len() is a inbuilt function

7

In [10]:
l = [1,2,3,"bhumika",8.90]
len(l)

5

    wheneever we try to create a function, we try to reutlise the same code again and again
    to increase the reusabilty we try to create a function, instead of writing the code again aand again

In [11]:
def test():     # it's giving a error, becz we have define a function but not mention the pty of the fuction or what this fuction is going to do

SyntaxError: incomplete input (3488466851.py, line 2)

In [12]:
def test():
    pass

In [13]:
def test1():
    print("This is my first function in python")
    
# no error and no output

In [14]:
test1()   # call of function

This is my first function in python

In [15]:
b = test1()

This is my first function in python

In [16]:
b   # no outcome

In [17]:
print(b)

None

In [18]:
type(b)

NoneType

In [19]:
type(test1())

# Nonetype is kind of a datatype that you will not be able to hold inside any variables as an outcome

This is my first function in python

NoneType

In [20]:
c = "bhimik"
type(c)

str

In [21]:
def test2():
    return 5

In [22]:
test2()

5

In [23]:
d = test2()
d

5

In [24]:
type(test2())

int

In [25]:
type(d)

int

In [26]:
type(print())

# print always try to return a nonetype

NoneType

In [27]:
def test3():
    return 5  #here we will able to perform a primitive operation

In [28]:
def test4():
    print("This is my print return")

In [29]:
e = test4()

This is my print return

In [30]:
e

In [31]:
e + "bhumi"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [32]:
def test3():
    return "bhumika"

In [33]:
test3() + "sawade"

'bhumikasawade'

In [34]:
test4() + "sawadde"

This is my print return

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

    wherever we are looking for a primitive outcome throungh which we'll able to perform a datatype operation or primitive operation in that case we are suppose to use a return keyword othewise we can use print

In [35]:
def test5():
print("this is my python code")
    
# to seperate a code or segment a code python uses a indentation approach , so we need to maintain a proper indentation

IndentationError: expected an indented block after function definition on line 1 (729145282.py, line 2)

In [36]:
def test6():
    return 1,3,[3,4,5,4],"bhumik",(3,4,5,3)

In [37]:
test6()   # packaged otcome as tuple

(1, 3, [3, 4, 5, 4], 'bhumik', (3, 4, 5, 3))

In [38]:
type(test6())

tuple

In [39]:
test6()[1]

3

In [40]:
test6()[2]

[3, 4, 5, 4]

In [41]:
def test7():
    return 1,3,[3,4,5,4],"bhumik",(3,4,5,3)

In [42]:
a,b,c,d,e = test7()  # declaring a variable

In [43]:
c,d

([3, 4, 5, 4], 'bhumik')

In [44]:
c

[3, 4, 5, 4]

In [45]:
def test8():
    a = 4*5 + 9
    return a   #code exsts in a sequential manner

In [46]:
test8()

29

In [47]:
test8() + 1

30

In [48]:
l = [2,3,5,4,6,5,4,3]
sum_ = 0

for i in l:
    sum_ = sum_ + i
print(sum_)

32

In [49]:
sum(l)

32

In [50]:
def test9():
    l = [2,3,5,4,6,5,4,3,"bhumi"]
    sum_ = 0

    for i in l:
        if type(i) == int:
            sum_ = sum_ + i
    return sum_

In [51]:
test9()

32

In [52]:
l1 = [7,8,9,6,7,"bhumik",8.97]

In [53]:
def test10(l):   # passing a argument
    sum_ = 0

    for i in l:
        if type(i) == int :
            sum_ = sum_ + i
    return sum_

In [54]:
test10(l1)

37

In [55]:
def test11(a,b):   # suppose to pass two data at the time of function call
    return a + b

In [56]:
test11(4,4)

8

In [57]:
test11("bhumik","swade")

'bhumikswade'

In [58]:
test11(b = 4,a = 7)

11

In [59]:
l = [3,4,5,2,"bhumik","kumar",2,3,2,"ineron"]
list_ = list()

for i in l:
    if type(i) == str:
        list_.append(i)
print(list_)

['bhumik', 'kumar', 'ineron']

In [60]:
l1 = [3,4,5,2,"bhumik","kumar",2,3,2,"ineron"]

In [61]:
def test12(l):
    list_ = list()

    for i in l:
        if type(i) == str:
            list_.append(i)
    return list_

In [62]:
test12(l1)

['bhumik', 'kumar', 'ineron']

In [63]:
l2 = ["light","bulb","tube light",23.43,98]

In [64]:
test12(l2)

['light', 'bulb', 'tube light']

In [65]:
len()

TypeError: len() takes exactly one argument (0 given)

In [66]:
# create a writeup for the function, technically called as doc string

def test12(l):
    """ This is my function which will help you to sepearte a list into new one"""     # doc string
    list_ = list()

    for i in l:
        if type(i) == str:
            list_.append(i)
    return list_

In [ ]:
test12()   # try doing shift+tab